<html>
    <head>
        <title>Pikabu(tuvinian edition)</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pikabu2.0(TuvaPoesh)</a></h1>
        </div>

        <div>
            <p>published: 12.02.2018, 12:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Здесь, я хочу сделать маленькое веб приложение , которое бы смогло объединить людей схожими интересами. Сделать так , чтобы мы моогли делиться комментариями друг с другом</p>
        </div>

        <div>
            <p>published: 12.02.2018, 1:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Самым сложным было поднимать сервер, много проклятий было высказано в адрес тех, которые поддерживали туториал по Django , но сумев превозмочь свою лень и глупость , я все же смог сделать хоть что-то похожее на сайт</p>
        </div>
    </body>
</html>
